@use "../utilities" as *;

/**----------------------------------------
START: Working process CSS
----------------------------------------*/
.tj-working-process {
	background-color: var(--tj-color-theme-bg);
	position: relative;
	z-index: 1;
	border-radius: 12px;
	.sec-heading-wrap {
		.sub-title {
			color: var(--tj-color-theme-primary);
			background-color: var(--tj-color-common-white);
			border: 0;
			padding: 7px 10px;
		}
	}
	.content-wrap {
		margin-bottom: 45px;
	}
}
.working-process-area {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}
.process-item {
	max-width: 422px;
	width: 100%;
	background-color: var(--tj-color-common-white);
	padding: 25px 28px 40px 28px;
	position: relative;
	border-radius: 10px;
	z-index: 3;
	&:nth-child(2) {
		z-index: 2;
	}
	&:last-child {
		z-index: 1;
	}

	&:not(:last-child)::after {
		content: "\e916";
		font-size: 24px;
		line-height: 1;
		color: var(--tj-color-theme-primary);
		font-family: "bexon-icons" !important;
		font-weight: normal;
		position: absolute;
		width: 62px;
		height: 62px;
		border-radius: 50%;
		background-color: var(--tj-color-common-white);
		border: 7px solid var(--tj-color-theme-bg);
		top: 50%;
		inset-inline-end: -34px;
		transform: translateY(-50%);
		z-index: 5;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		transition: none;
		@media #{$lg} {
			font-size: 20px;
			width: 50px;
			height: 50px;
			inset-inline-end: -30px;
		}
		@media #{$md, $sm, $xs} {
			transform: translate(-50%, 0) rotate(90deg);
			top: inherit;
			inset-inline-end: inherit;
			bottom: -40px;
			inset-inline-start: 50%;
		}
	}
	.process-step {
		font-size: 120px;
		color: var(--tj-color-theme-primary);
		background: linear-gradient(
			180deg,
			var(--tj-color-theme-primary) 0%,
			var(--tj-color-common-white) 90%
		);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-weight: var(--tj-fw-sbold);
		display: inline-flex;
		line-height: 1;
		margin-bottom: 16px;
		@media #{$lg} {
			font-size: 100px;
		}
		@media #{$md, $sm, $xs} {
			font-size: 80px;
			margin-bottom: 20px;
		}
	}
	.title {
		font-weight: var(--tj-fw-sbold);
		margin-bottom: 20px;
		@media #{$md, $sm, $xs} {
			margin-bottom: 10px;
		}
	}
	.desc {
		margin: 0;
	}
	@media #{$xl} {
		max-width: 362px;
	}
	@media #{$lg} {
		max-width: 302px;
		padding: 35px 20px;
	}
	@media #{$md, $sm, $xs} {
		max-width: 100%;
		padding: 35px 15px 30px 15px;
	}
}

.working-process-wrap {
	padding-top: 120px;
	padding-bottom: 120px;
	@media #{$lg} {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	@media #{$md, $sm, $xs} {
		padding-top: 70px;
		padding-bottom: 70px;
		.content-wrap {
			margin-bottom: 30px;
		}
	}
}

.tj-faq {
	&.style-3 {
		max-width: 460px;
		width: 100%;
		padding: 0;
		counter-reset: steps;
		.accordion-item {
			background: transparent;
			border: none;
			border-inline-start: 4px solid var(--tj-color-border-1);
			padding-inline-start: 20px;
			margin-bottom: 0;
			.faq-title {
				padding-inline-end: 0;
				padding-inline-start: 27px;
				color: var(--tj-color-heading-primary);
				&::after {
					display: none;
				}
				&::before {
					counter-increment: steps;
					content: "0" counter(steps) ".";
					font-size: 14px;
					line-height: 1;
					font-weight: var(--tj-fw-medium);
					position: absolute;
					top: 50%;
					inset-inline-start: 0;
					transform: translateY(-50%);
				}
				@media #{$xl, $lg} {
					font-size: 20px;
				}
				@media #{$md, $sm, $xs} {
					font-size: 18px;
				}
			}
			.accordion-body {
				padding: 0 0 23px 27px;
			}
			&.active {
				border-color: var(--tj-color-theme-primary);
				.faq-title {
					&::before {
						color: var(--tj-color-theme-primary);
					}
				}
			}
			@media #{$md, $sm, $xs} {
				padding-inline-start: 10px;
			}
		}
	}
}

.working-img-area {
	position: absolute;
	inset-inline-end: 0;
	top: 0;
	width: 50%;
	height: 100%;
	.circle-text-wrap {
		&.video-btn {
			inset-inline-end: inherit;
			inset-inline-start: 50%;
			transform: translate(-50%, -50%);
			z-index: 5;
			@media #{$lg, $sm, $xs} {
				width: 130px;
				height: 130px;
			}
		}
	}
	@media #{$md, $sm, $xs} {
		position: relative;
		width: 100%;
		min-height: 500px;
	}
}
.working-img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	inset-inline-end: 0;
	z-index: 2;
	img {
		width: 100%;
		height: 100%;
		-o-object-fit: cover;
		object-fit: cover;
	}
}

/* !END: Working process CSS */
