@use "../utilities" as *;

/**----------------------------------------
START: CTA CSS
----------------------------------------*/
.tj-cta-section {
	margin-bottom: -195px;
	@media #{$xl} {
		margin-bottom: -150px;
	}
	@media #{$lg} {
		margin-bottom: -135px;
	}
	@media #{$md} {
		margin-bottom: -320px;
	}
	@media #{$sm, $xs} {
		margin-bottom: -270px;
	}
}
.cta-area {
	background-color: var(--tj-color-theme-primary);
	position: relative;
	z-index: 3;
	overflow: hidden;
	border-radius: 12px;
	display: flex;
	flex-wrap: wrap;
	.cta-content {
		width: 50%;
		margin: 0;
		padding: 44px 15px 60px 55px;
		.title {
			font-size: 74px;
			line-height: 1.12;
			color: var(--tj-color-common-white);
			margin-bottom: 17px;

			@media #{$xl} {
				font-size: 62px;
			}
			@media #{$lg} {
				font-size: 56px;
			}
			@media #{$md} {
				font-size: 60px;
			}
			@media #{$sm} {
				font-size: 50px;
			}
			@media #{$xs} {
				font-size: 43px;
			}
		}
		@media #{$lg} {
			padding: 34px 15px 45px 35px;
		}
		@media #{$md, $sm, $xs} {
			width: 100%;
			padding: 34px 30px 45px 30px;
		}
	}

	.cta-img {
		width: 50%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@media #{$md, $sm, $xs} {
			width: 100%;
		}
	}
}

/* !END: CTA CSS */
