@use "../utilities" as *;

/**----------------------------------------
START: Services CSS
----------------------------------------*/
.tj-service-section-5 {
	.sec-heading {
		max-width: 550px;
	}
}

.service-item {
	&.style-5 {
		background-color: var(--tj-color-theme-dark);
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0;
		overflow: hidden;
		.service-icon {
			font-size: 64px;
			margin-bottom: 50px;
			@media #{$sm, $xs} {
				font-size: 50px;
			}
		}
		.service-content-area {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 60px;
			@media #{$lg, $md} {
				padding: 50px 40px;
			}
			@media #{$sm, $xs} {
				padding: 40px 20px;
			}
		}
		.service-content {
			max-width: 360px;
		}
		.no {
			color: var(--tj-color-text-body-3);
			font-size: 20px;
			font-weight: var(--tj-fw-sbold);
			display: inline-flex;
			line-height: 1;
			margin-bottom: 16px;
			@media #{$sm, $xs} {
				font-size: 18px;
			}
		}
		.title {
			max-width: 360px;
			color: var(--tj-color-common-white);
			font-weight: var(--tj-fw-medium);
		}
		.desc {
			color: var(--tj-color-text-body-2);
		}
		.tj-primary-btn {
			margin-top: 30px;
		}
		.service-img {
			max-width: 581px;
			width: 100%;
			height: 605px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			@media #{$xl} {
				max-width: 500px;
				height: 590px;
			}
			@media #{$lg} {
				max-width: 460px;
				height: 560px;
			}
			@media #{$md, $sm, $xs} {
				max-width: 100%;
				height: 500px;
			}
			@media #{$sm, $xs} {
				height: 400px;
			}
		}
	}
}
.service-bottom-text {
	text-align: center;
	margin-top: 55px;
	.desc {
		color: var(--tj-color-theme-dark-2);
		font-weight: var(--tj-fw-medium);
		display: inline-flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 4px;
		margin: 0;
		span {
			display: inline-flex;
			align-items: center;
			@media #{$sm, $xs} {
				align-items: start;
				display: inline-block;
			}
		}
	}
	i {
		font-size: 28px;
		color: var(--tj-color-theme-primary);
		vertical-align: middle;
	}
	a {
		color: var(--tj-color-theme-dark);
		font-weight: var(--tj-fw-sbold);
		line-height: 1.1;
		position: relative;
		padding-inline-end: 14px;
		display: inline-block;
		&::before {
			content: "";
			background-color: currentColor;
			position: absolute;
			width: 100%;
			height: 1px;
			bottom: 0;
			inset-inline-end: 0;
		}
		&::after {
			content: "\e916";
			font-family: "bexon-icons" !important;
			font-style: normal;
			font-weight: var(--tj-fw-medium);
			font-size: 18px;
			display: inline-flex;
			transform: rotate(-45deg);
			position: absolute;
			top: 0;
		}
		&:hover {
			color: var(--tj-color-theme-primary);
			&::before {
				animation: linehover 0.8s linear;
			}
		}
	}
	@media #{$md, $sm, $xs} {
		margin-top: 35px;
	}
	@media #{$sm, $xs} {
		text-align: start;
	}
}

/* !END: Services CSS */
