@use "../utilities" as *;

/**----------------------------------------
START: Home 9 About CSS
----------------------------------------*/
.h9-about-section {
	padding-top: 80px;
	@media #{$md,$sm,$xs} {
		padding-top: 70px;
	}
}
.h9-sec-heading {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 30px;
	.sub-title {
		flex: 0 0 auto;
		align-items: start;
	}
	.sec-title {
		width: 58%;
		span {
			color: inherit;
			padding-inline-start: 105px;
			@media #{$lg} {
				padding-inline-start: 80px;
			}
			@media #{$sm, $xs} {
				padding-inline-start: 70px;
			}
		}
		.line {
			background-image: linear-gradient(
				90deg,
				var(--tj-color-heading-primary) var(--highlight-offset),
				var(--tj-color-text-body-3) var(--highlight-offset)
			);
		}
		@media #{$xl} {
			width: 55%;
		}
		@media #{$lg} {
			width: 65%;
		}
		@media #{$md,$sm,$xs} {
			width: 100%;
		}
	}
}
.h9-about {
	background-color: var(--tj-color-theme-dark);
	border-radius: 12px;
	position: relative;
	overflow: hidden;
	z-index: 1;
	&-area {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
		justify-content: space-between;
	}
	&-content {
		width: 50%;
		.desc {
			margin-bottom: 0;
		}
		.about-btn-area-2 {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 30px;
			.video-btn {
				width: auto;
				height: auto;
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 15px;
				border: none;
				background: none;
				backdrop-filter: none;
				position: unset;
				transform: unset;
				.play-btn {
					background-color: var(--tj-color-theme-bg);
					color: var(--tj-color-theme-primary);
					width: 54px;
					height: 54px;
					border-radius: 50%;
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 14px;
					position: relative;
					animation: pulse3 2s infinite;
					z-index: 5;
					margin: 0;
					i {
						line-height: 1;
						display: inline-flex;
					}
				}
				.video-text {
					color: var(--tj-color-heading-primary);
					font-weight: var(--tj-fw-sbold);
					font-size: 16px;
					line-height: 1.2;
					position: relative;
					&::after {
						content: "";
						position: absolute;
						bottom: 1px;
						inset-inline-end: 0;
						width: 100%;
						height: 1px;
						background-color: var(--tj-color-heading-primary);
					}
				}
				&:hover {
					transform: scale(1);
					.video-text {
						&::after {
							animation: linehover 0.8s linear;
						}
					}
				}
			}
			@media #{$sm,$xs} {
				gap: 20px;
			}
		}
		@media #{$md,$sm,$xs} {
			width: 100%;
		}
	}
	&-funfact {
		display: flex;
		flex-wrap: wrap;
		max-width: 530px;
		width: 100%;
		padding: 20px 0 24px;
		margin: 30px 0;
		border-top: 1px dashed rgba(12, 30, 33, 0.2);
		border-bottom: 1px dashed rgba(12, 30, 33, 0.2);
		.countup-item {
			width: 50%;
			padding: 0;
			align-items: flex-start;
			&:not(:last-child) {
				padding-inline-end: 55px;
				@media #{$lg} {
					padding-inline-end: 30px;
				}
			}
			&:not(:first-child) {
				padding-inline-start: 30px;
				position: relative;
				z-index: 0;
				&::after {
					content: "";
					position: absolute;
					inset-inline-start: -15px;
					top: 52%;
					transform: translateY(-50%);
					width: 0;
					height: 88%;
					border-inline-end: 1px dashed rgba(12, 30, 33, 0.2);
					@media #{$lg} {
						inset-inline-start: 0;
					}
				}
			}

			.count-text {
				max-width: 205px;
				color: var(--tj-color-text-body);
			}
			.inline-content {
				color: var(--tj-color-heading-primary);
				margin-bottom: 15px;
				.odometer {
					color: var(--tj-color-heading-primary);
					.odometer-digit,
					span {
						color: var(--tj-color-heading-primary);
					}
				}
				@media #{$xs} {
					margin-bottom: 5px;
				}
			}
			@media #{$xs} {
				width: 100%;
				text-align: start;
				&:not(:last-child) {
					padding-inline-end: 0;
					padding-bottom: 20px;
				}
				&:not(:first-child) {
					padding-inline-start: 0;
					padding-top: 15px;
					&::after {
						inset-inline-start: 50%;
						top: 0;
						transform: translateX(-50%);
						width: 100%;
						height: 0;
						border-inline-end: 0;
						border-top: 1px dashed rgba(12, 30, 33, 0.2);
					}
				}
			}
		}
	}
	&-img {
		max-width: 450px;
		margin-inline-end: 0;
		margin-top: -77px;
		@media #{$md,$sm,$xs} {
			max-width: 100%;
			width: 100%;
		}
		.box-area {
			max-width: 194px;
			bottom: 0;
			inset-inline-end: 0;
			inset-inline-start: inherit;
			padding: 17px 0 0 28px;
			border-start-start-radius: 12px;
			border-start-end-radius: 0;
			&::before {
				inset-inline-start: inherit;
				inset-inline-end: 0;
				transform: rotate(180deg);
			}
			&::after {
				transform: rotate(180deg);
				inset-inline-start: -12px;
				inset-inline-end: inherit;
			}
		}
		.author-info {
			position: relative;
			padding-inline-start: 18px;
			&::before {
				content: "";
				width: 8px;
				height: 8px;
				border-radius: 50%;
				background-color: var(--tj-color-theme-primary);
				position: absolute;
				top: 13px;
				inset-inline-start: 0;
				animation: pulse3 1.5s linear infinite;
			}
			.title {
				font-weight: var(--tj-fw-sbold);
				margin-bottom: 0;
			}
			.designation {
				font-size: 14px;
				color: var(--tj-color-text-body);
				line-height: 1;
				display: inline-flex;
			}
		}
		@media #{$lg} {
			max-width: 420px;
		}
		@media #{$md,$sm,$xs} {
			margin: 0 auto 30px;
		}
	}
}

/* !END: Home 9 About CSS  */
