@use "../utilities" as *;

/* START: T&D CSS */
.terms-and-conditions {
	&-wrapper {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			padding-top: 30px;
			margin-bottom: 15px;
		}
		ul {
			padding-inline-start: 20px;
			&:not(:first-child) {
				margin-bottom: 30px;
			}
		}
	}
}
/* !END: T&D CSS */
