@forward "./assets/sass/components/theme";
@forward "./assets/sass/components/buttons";
@forward "./assets/sass/components/header";
@forward "./assets/sass/components/mega-menu";
@forward "./assets/sass/components/footer";
@forward "./assets/sass/components/search";
@forward "./assets/sass/components/hamburger";
@forward "./assets/sass/components/preloader";
@forward "./assets/sass/components/404";
@forward "./assets/sass/components/backtotop";
@forward "./assets/sass/components/h4-footer";
@forward "./assets/sass/components/tj-animation";
@forward "./assets/sass/components/cursor";
@forward "./assets/sass/components/rangeSlider";
@forward "./assets/sass/components/tj-modal";

@forward "./assets/sass/layout/heading";
@forward "./assets/sass/layout/hero";
@forward "./assets/sass/layout/choose";
@forward "./assets/sass/layout/client";
@forward "./assets/sass/layout/about";
@forward "./assets/sass/layout/services";
@forward "./assets/sass/layout/marquee";
@forward "./assets/sass/layout/project";
@forward "./assets/sass/layout/testimonial";
@forward "./assets/sass/layout/faq";
@forward "./assets/sass/layout/blog";
@forward "./assets/sass/layout/cta";
@forward "./assets/sass/layout/countup";
@forward "./assets/sass/layout/working-process";
@forward "./assets/sass/layout/contact";
@forward "./assets/sass/layout/slider";
@forward "./assets/sass/layout/team";
@forward "./assets/sass/layout/team-details";
@forward "./assets/sass/layout/progress-bar";
@forward "./assets/sass/layout/page-header";
@forward "./assets/sass/layout/pricing";
@forward "./assets/sass/layout/blog-details";
@forward "./assets/sass/layout/animate";
@forward "./assets/sass/layout/h4-hero";
@forward "./assets/sass/layout/h4-choose";
@forward "./assets/sass/layout/h4-about";
@forward "./assets/sass/layout/h4-services";
@forward "./assets/sass/layout/h4-countup";
@forward "./assets/sass/layout/h4-project";
@forward "./assets/sass/layout/h4-pricing";
@forward "./assets/sass/layout/h4-contact";
@forward "./assets/sass/layout/h4-testimonial";
@forward "./assets/sass/layout/h4-blog";
@forward "./assets/sass/layout/careers";
@forward "./assets/sass/layout/history";
@forward "./assets/sass/layout/terms-and-conditions";

// home 5
@forward "./assets/sass/components/h5-header";
@forward "./assets/sass/layout/h5-hero";
@forward "./assets/sass/layout/h5-services";
@forward "./assets/sass/layout/h5-about";
@forward "./assets/sass/layout/h5-strategy";
@forward "./assets/sass/layout/h5-working-process";
@forward "./assets/sass/layout/h5-project";
@forward "./assets/sass/layout/h5-testimonial";
@forward "./assets/sass/layout/h5-pricing";
@forward "./assets/sass/layout/h5-marquee";
@forward "./assets/sass/layout/h5-blog";
@forward "./assets/sass/components/h5-footer";

// home 6
@forward "./assets/sass/components/h6-header";
@forward "./assets/sass/components/h6-footer";
@forward "./assets/sass/layout/h6-hero";
@forward "./assets/sass/layout/h6-choose";
@forward "./assets/sass/layout/h6-about";
@forward "./assets/sass/layout/h6-service";
@forward "./assets/sass/layout/h6-project";
@forward "./assets/sass/layout/h6-working-process";
@forward "./assets/sass/layout/award";
@forward "./assets/sass/layout/h6-testimonial";
@forward "./assets/sass/layout/h6-blog";
@forward "./assets/sass/layout/h6-client";

// home 7
@forward "./assets/sass/components/h7-header";
@forward "./assets/sass/components/h7-footer";
@forward "./assets/sass/layout/h7-hero";
@forward "./assets/sass/layout/h7-choose";
@forward "./assets/sass/layout/h7-about";
@forward "./assets/sass/layout/h7-service";
@forward "./assets/sass/layout/h7-testimonial";
@forward "./assets/sass/layout/h7-project";
@forward "./assets/sass/layout/h7-team";
@forward "./assets/sass/layout/h7-faq";
@forward "./assets/sass/layout/h7-blog";
@forward "./assets/sass/layout/h7-cta";

// home 8
@forward "./assets/sass/components/h8-header";
@forward "./assets/sass/components/h8-footer";
@forward "./assets/sass/layout/h8-hero";
@forward "./assets/sass/layout/h8-marquee";
@forward "./assets/sass/layout/h8-about";
@forward "./assets/sass/layout/h8-choose";
@forward "./assets/sass/layout/h8-service";
@forward "./assets/sass/layout/h8-project";
@forward "./assets/sass/layout/h8-countup";
@forward "./assets/sass/layout/h8-team";
@forward "./assets/sass/layout/h8-testimonial";
@forward "./assets/sass/layout/h8-blog";

// home 9
@forward "./assets/sass/components/h9-header";
@forward "./assets/sass/components/h9-footer";
@forward "./assets/sass/layout/h9-hero";
@forward "./assets/sass/layout/h9-choose";
@forward "./assets/sass/layout/h9-service";
@forward "./assets/sass/layout/h9-about";
@forward "./assets/sass/layout/h9-team";
@forward "./assets/sass/layout/h9-testimonial";
@forward "./assets/sass/layout/h9-cta";
@forward "./assets/sass/layout/h9-project";
@forward "./assets/sass/layout/h9-blog";

// home 10
@forward "./assets/sass/components/h10-header";
@forward "./assets/sass/components/h10-footer";
@forward "./assets/sass/layout/h10-hero";
@forward "./assets/sass/layout/h10-service";
@forward "./assets/sass/layout/h10-about";
@forward "./assets/sass/layout/h10-process";
@forward "./assets/sass/layout/h10-project";
@forward "./assets/sass/layout/h10-testimonial";
@forward "./assets/sass/layout/h10-pricing";
@forward "./assets/sass/layout/h10-blog";

// shop css
@forward "./assets/sass/ecommerce/woo-default";
@forward "./assets/sass/ecommerce/woo-product";
@forward "./assets/sass/ecommerce/woo-details";
@forward "./assets/sass/ecommerce/woo-wishlist";
