@use "../utilities" as *;

/**----------------------------------------
START: Animation  CSS
----------------------------------------*/

.tj-anim-move-var-big {
	animation-name: moveVarBig;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}
@keyframes moveVarBig {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(150px);
	}
}
.tj-anim-move-var-big-reverse {
	animation-name: moveVarBigReverse;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}
@keyframes moveVarBigReverse {
	0% {
		transform: translateY(150px);
	}

	100% {
		transform: translateY(0);
	}
}
.tj-zoom-in-out-anim {
	animation-name: zoomInOutAnim;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}
@keyframes zoomInOutAnim {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.9);
	}
}

/* !END: Animation CSS */
