@use "../utilities" as *;

/* START: Modal CSS */
.tj-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	transition: all 0.5s ease;
	background-color: rgba(0, 0, 0, 0.85);
	opacity: 0;
	overflow-y: auto;
	display: none;
	justify-content: center;
	align-items: center;
	@media #{$sm,$xs} {
		padding: 30px 15px;

		align-items: flex-start;
	}
	&-close {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
		cursor: zoom-out;
		&-btn {
			width: auto;
			height: auto;
			top: 20px;
			left: auto;
			right: 30px;
			z-index: 51;
			i {
				font-size: 27px;
				color: var(--tj-color-common-white);
				opacity: 0.7;
			}
			&:hover {
				opacity: 1;
			}
		}
		@media #{$sm,$xs} {
			position: fixed;
			top: 2px;
			right: 15px;
		}
	}
	&-content {
		transition: all 0.5s ease;
		transform: translateY(-5rem);
		padding: 15px;
		max-width: 62.5rem;
		width: 100%;
		position: relative;
		z-index: 50;
		margin-left: auto;
		margin-right: auto;

		// margin-top: 150px;
		// margin-bottom: 150px;
		@media #{$sm,$xs} {
			margin: 0;
		}
	}
}

/* !END: Modal CSS */
